@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global overrides for React-Flow to match dark theme */
.react-flow__background {
    background-color: #09090b;
}

.react-flow__panel {
    background-color: transparent;
}

/* Grund-Setup für die unsichtbare Klick-Fläche */
.react-flow__handle::after {
    content: '';
    position: absolute;
    background: transparent;
    cursor: crosshair;
}

/* Anschlüsse OBEN (z.B. Local In 1-16): Hitbox nach oben erweitern */
.react-flow__handle-top::after {
    top: -35px;
    bottom: 0px;
    left: -3px;
    right: -3px;
}

/* Anschlüsse UNTEN (z.B. Local Out 1-8): Hitbox nach unten erweitern */
.react-flow__handle-bottom::after {
    top: 0px;
    bottom: -35px;
    left: -3px;
    right: -3px;
}

/* Anschlüsse LINKS (z.B. AES50, Power): Hitbox nach links erweitern */
.react-flow__handle-left::after {
    top: -3px;
    bottom: -3px;
    left: -35px;
    right: 0px;
}

/* Anschlüsse RECHTS (z.B. Aux In/Out): Hitbox nach rechts erweitern */
.react-flow__handle-right::after {
    top: -3px;
    bottom: -3px;
    left: 0px;
    right: -35px;
}